<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.call">

    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/AppName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".blocker.MainActivity"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".blocker.RequestPermissionsActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/TitleActivityRequestPermissions"
            android:parentActivityName=".blocker.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".blocker.MainActivity" />
        </activity>

        <activity
            android:name=".blocker.ContactEditorActivity"
            android:label="@string/TitleActivityContactEditor"
            android:parentActivityName=".blocker.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".blocker.MainActivity" />
        </activity>

        <receiver android:name=".util.ReceiveCalls"
                  android:exported="true"
                  android:process=":remote" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>